[data-theme='dark'] {
  /* Tipografia */
  --color-text-title: #E3E3E3;
  --color-text-body: #C4C7C5;

  /* Fundos */
  --color-background-primary: #202124;
  --color-background-secondary: #292A2D; /* Para cards e outros elementos */

  /* Botões */
  --button-background: #292A2D;
  --button-background-hover: #2F3033;
  --button-text-color: #A8C7FA;
  --button-border-color: #047DB7;
  /* --button-border-radius: 16px; - Herda do :root */

  /* Destaque (Accent/Highlight) */
  --accent-background: #8AB4F8;
  --accent-text-color: #202124;
  --accent-icon-color: #000000;
}